<h3>I'm in the component!</h3>
<h3>DATE : {{date}}</h3>

<ul>
  {{#each week in month}}
    <li>
      <ul>
        {{#each day in week}}
          <a {{action "makeDayActive" day}}><li {{bind-attr class="day.active"}}>{{day.dateKey}}</li></a>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
