html, body {
  margin: 20px;
}

.chosen {
  background-color: orange;
}

.active {
  background: orange;
}

.main-calendar {
  height: 100%;
  /* Responsive Calendar for Foundation */
}
.main-calendar .calendar {
  margin-left: 0;
  margin-bottom: 1.25rem;
  padding-bottom: 1px;
  border-bottom: 2px solid red;
}
.main-calendar .calendar * {
  list-style: none;
  line-height: 1;
}
.main-calendar .calendar .title {
  text-align: center;
  font-size: 1.6875rem;
  background-color: green;
  color: white;
  width: 100%;
}
.main-calendar .calendar .title:after {
  /* Prevent wrapper from shrinking height, 
  see http://www.positioniseverything.net/easyclearing.html */
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.main-calendar .calendar .title div {
  float: left;
  width: 33%;
}
.main-calendar .calendar .week {
  padding: 0px;
  margin: 0px;
}
.main-calendar .calendar .week:before, .main-calendar .calendar .week:after {
  content: " ";
  display: table;
}
.main-calendar .calendar .week:after {
  clear: both;
}
.main-calendar .calendar .day,
.main-calendar .calendar .days {
  position: relative;
  padding: 0.3rem 0.39375rem;
  width: 100%;
  float: left;
  border: 1px solid #ffdb99;
  font-size: 12px;
  overflow: auto;
}
.main-calendar .day.previous-month,
.main-calendar .days.previous-month,
.main-calendar .day.next-month,
.main-calendar .days.next-month {
  background: purple;
  color: #222222;
  display: none;
}
.main-calendar .date-picker {
  width: 400px;
}
.main-calendar .in-month {
  background-color: purple;
}
.main-calendar .in-month:hover {
  background-color: green;
}
.main-calendar .today {
  border: 6px solid yellow !important;
}
.main-calendar .chosen {
  border: 6px solid pink !important;
}
